[submodule "schedule"]
	path = schedule
	url = https://github.com/MartinHN/scheduler.git
[submodule "server"]
	path = server
	url = https://github.com/MartinHN/scheduler-server.git
[submodule "omxServer"]
	path = omxServer
	url = https://github.com/MartinHN/omxServer.git
[submodule "Vermuth"]
	path = Vermuth
	url = https://github.com/MartinHN/vermuth.git
[submodule "androidjs"]
	path = androidjs
	url = git@github.com:MartinHN/androidjs.git
[submodule "rpi-rtc"]
	path = rpi-rtc
	url = https://github.com/MartinHN/rpi-rtc.git

