[submodule "schedule"]
	path = schedule
	url = https://github.com/MartinHN/scheduler
[submodule "server"]
	path = server
	url = https://github.com/MartinHN/scheduler-server
[submodule "omxServer"]
	path = omxServer
	url = https://github.com/MartinHN/omxServer
[submodule "Vermuth"]
	path = Vermuth
	url = https://github.com/MartinHN/Vermuth
[submodule "androidjs"]
	path = androidjs
	url = https://github.com/MartinHN/androidjs
[submodule "rpi-rtc"]
	path = rpi-rtc
	url = https://github.com/MartinHN/rpi-rtc

[submodule "piLora"]
	path = piLora
	url = https://github.com/MartinHN/lora
